@model Etch.OrchardCore.Leaflet.ViewModels.MapViewModel

<style asp-src="~/Etch.OrchardCore.Leaflet/Styles/map.css" at="Head"></style>
<script asp-src="~/Etch.OrchardCore.Leaflet/Scripts/map.js" asp-name="leafletmap" depends-on="jquery" at="Foot"></script>

<script at="Foot">
    window.initializeMap({ domId: 'map', height: @Model.Height, initialZoom: @Model.InitialZoom, maxZoom: @Model.MaxZoom, minZoom: @Model.MinZoom, tileRoot: '@Model.TileRoot', width: @Model.Width });
</script>

<div class="leaflet" style="padding-bottom: @Model.Ratio.ToString("#.000")%;">
    <div id="map"></div>
</div>