@using Etch.OrchardCore.Leaflet.Models;
@using Etch.OrchardCore.Leaflet.Utils;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using OrchardCore.ContentManagement.Display;
@using OrchardCore.ContentManagement.Metadata;
@using OrchardCore.ContentManagement.Metadata.Settings;
@using OrchardCore.Mvc.Utilities;

@model Etch.OrchardCore.Leaflet.ViewModels.MapPoisEditViewModel

@inject IContentManager ContentManager
@inject IContentDefinitionManager ContentDefinitionManager
@inject IContentItemDisplayManager ContentItemDisplayManager

@{
    var poiTemplatePlaceholderId = Html.Id("poiTemplatePlaceholderId");
    var poiContentTypes = ContentDefinitionManager.ListTypeDefinitions().Where(t => t.GetSettings<ContentTypeSettings>().Stereotype == "POI");
    var parentContentType = Model.ContentItem.ContentType;
    var map = Model.ContentItem.As<Map>();


    string partName = ((dynamic)Model).Metadata.Name;
}

<script asp-src="~/Etch.OrchardCore.Leaflet/Scripts/admin.js" depends-on="jquery" at="Foot" asp-append-version="true"></script>
<script asp-name="jQuery-ui" at="Foot"></script>

@if (!Model.HasTiles)
{
    <p class="alert alert-warning">@T["Unable to add POIs until map tiles has been chosen."]</p>
}

@if (Model.HasTiles)
{
    <style asp-src="~/Etch.OrchardCore.Leaflet/Styles/admin.css" at="Head" asp-append-version="true"></style>

    <script at="Foot">
        window.initializeMap({ domId: 'map', draggableMarkers: true, height: @Model.Height, initialZoom: @map.InitialZoom, maxZoom: @map.MaxZoom, minZoom: @map.MinZoom, pois: '@Html.Raw(PoiUtils.Serialize(Model.Markers))', tileRoot: '@Model.TileRoot', width: @Model.Width });
    </script>

    <div class="leaflet leaflet--admin">
        <div id="map"></div>
    </div>

    <div class="form-group">
        <h3>@T["POIs"]</h3>

        <p class="hint">@T["Click on map to add new POI."]</p>

        <div id="@poiTemplatePlaceholderId" class="widget-template-placeholder widget-template-placeholder-bagpart bagpart-@partName.HtmlClassify() row mx-0" data-buildeditorurl="@Url.Action("BuildEditor", "Admin", new { area = "Etch.OrchardCore.Leaflet" })">
            @{ var htmlFieldPrefix = this.ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix; }

            @foreach (var poi in Model.MapPoisPart.ContentItems)
            {
                //Create a Card Shape
                dynamic contentCard = await New.ContentCard(
                    // FOR Updater
                    CollectionShape: Model,
                    //Shape Specific
                    CollectionShapeType: nameof(MapPoisPart),
                    ContentItem: poi,
                    BuildEditor: true,
                    ParentContentType: parentContentType,
                    CollectionPartName: partName,
                    //Card Specific Properties
                    TargetId: poiContentTypes,
                    Inline: false,
                    CanMove: false,
                    CanDelete: true,
                    //Input hidden
                    //Prefixes
                    PrefixValue: poi.ContentItemId,
                    HtmlFieldPrefix: htmlFieldPrefix,
                    PrefixesId: Html.IdFor(x => x.Prefixes),
                    PrefixesName: Html.NameFor(x => x.Prefixes),
                    //Content Types
                    ContentTypesId: Html.IdFor(x => x.ContentTypes),
                    ContentTypesName: Html.NameFor(x => x.ContentTypes)
                );

                @await DisplayAsync(contentCard)
            }
        </div>
    </div>

    @* Rendered only once in case multiple MapPoisPart are on the page *@
    @if (Context.Items["MapPoisPart.Edit"] == null)
    {
        Context.Items["MapPoisPart.Edit"] = new object();
        <script asp-src="~/OrchardCore.Flows/Scripts/flows.edit.min.js"
                debug-src="~/OrchardCore.Flows/Scripts/flows.edit.js" at="Foot" depends-on="admin"></script>
        <style asp-src="~/OrchardCore.Widgets/Styles/widgetslist.edit.min.css"
               debug-src="~/OrchardCore.Widgets/Styles/widgetslist.edit.css"></style>
        <style asp-src="~/OrchardCore.Flows/Styles/flows.edit.min.css"
               debug-src="~/OrchardCore.Flows/Styles/flows.edit.css"></style>
    }

    @* Rendered only once per type to initialize the scripts its editor will need *@
    @foreach (var type in poiContentTypes)
    {
        @if (Context.Items["MapPoisPart.Edit:" + type.Name] == null)
        {
            Context.Items["MapPoisPart.Edit:" + type.Name] = new object();

            // Render a mock widget so that its resources are included in the page
            var contentItem = await ContentManager.NewAsync(type.Name);
            await DisplayAsync(await ContentItemDisplayManager.BuildEditorAsync(contentItem, Model.Updater, true, "", Guid.NewGuid().ToString("n")));
        }
    }

    <div class="modal fade" id="modalPoiMarkers" tabindex="-1" role="dialog" aria-labelledby="poi-picker-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@T["Available POIs"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-columns">
                        @foreach (var type in poiContentTypes)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <h4>@type.DisplayName.Replace("POI", "")</h4>
                                    <p>@type.Settings["Description"]</p>
                                </div>
                                <div class="card-footer text-muted text-xs-right">
                                    <button type="button"
                                            class="btn btn-primary btn-sm add-poi"
                                            data-target-id="@poiTemplatePlaceholderId"
                                            data-parent-content-type="@parentContentType"
                                            data-part-name="@partName"
                                            data-prefixes-name="@Html.NameFor(x => x.Prefixes)"
                                            data-contenttypes-name="@Html.NameFor(x => x.ContentTypes)"
                                            data-widget-type="@type.Name"
                                            data-dismiss="modal"
                                            href="javascript:;"
                                            data-icon-marker-path="@(type.Parts.SingleOrDefault(x => x.Name == nameof(PoiPart)).GetSettings<PoiPartSettings>().AdminMarkerIconPath)"
                                            data-icon-marker-height="@(type.Parts.SingleOrDefault(x => x.Name == nameof(PoiPart)).GetSettings<PoiPartSettings>().MarkerIconHeight)"
                                            data-icon-marker-width="@(type.Parts.SingleOrDefault(x => x.Name == nameof(PoiPart)).GetSettings<PoiPartSettings>().MarkerIconWidth)"
                                            data-icon-marker-zoom-ratio="@(type.Parts.SingleOrDefault(x => x.Name == nameof(PoiPart)).GetSettings<PoiPartSettings>().MarkerIconZoomRatio)">
                                        @T["Add"]
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@T["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
}

