@model Etch.OrchardCore.Leaflet.ViewModels.PoiPartSettingsViewModel

<div class="form-group">
    <label asp-for="MarkerIcon">@T["Marker Icon"]</label>
    <input asp-for="MarkerIcon" class="form-control" />
    <span class="hint">@T["Path to icon to be used as POI marker."]</span>
</div>

<div class="form-group">
    <label asp-for="MarkerHoverIcon">@T["Marker Hover Icon"]</label>
    <input asp-for="MarkerHoverIcon" class="form-control" />
    <span class="hint">@T["Path to icon that will display when user hovers over POI."]</span>
</div>


<div class="form-group">
    <label asp-for="MarkerAdminIcon">@T["Admin Marker Icon"]</label>
    <input asp-for="MarkerAdminIcon" class="form-control" />
    <span class="hint">@T["Path to icon to be used as POI marker when defining POIs in admin area. Leave blank to use same as marker icon."]</span>
</div>

<div class="form-group">
    <label asp-for="MarkerIconHeight">@T["Marker Icon Height"]</label>
    <input asp-for="MarkerIconHeight" class="form-control" />
    <span class="hint">@T["Height to of POI marker icon."]</span>
</div>

<div class="form-group">
    <label asp-for="MarkerIconWidth">@T["Marker Icon Width"]</label>
    <input asp-for="MarkerIconWidth" class="form-control" />
    <span class="hint">@T["Width to of POI marker icon."]</span>
</div>

<div class="form-group">
    <label asp-for="MarkerIconZoomRatio">@T["Marker Icon Zoom Ratio"]</label>
    <input asp-for="MarkerIconZoomRatio" class="form-control" />
    <span class="hint">@T["Ratio used to determine marker dimensions when zooming in to map."]</span>
</div>

